<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="Github" value="https://github.com/lisongkun/hygge-imaotai"/>
		<add key="DbType" value="MySql"/>
		<add key="DefaultConnStr" value="server=localhost;database=imaotai;user=root;password=root;port=3306;"/>
	</appSettings>
</configuration>