<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<!--是否启用本地文件存储 如果LocalFile:0禁用,启用 则不使用数据库-->
		<add key="LoadFromFile" value="0"/>
		<add key="DbType" value="MySql"/>
		<add key="DefaultConnStr" value="server=localhost;database=imaotai;user=root;password=root;port=3306;"/>
	</appSettings>
</configuration>