@page "/productdata"
@using IMaoTai.Entity
@using IMaoTai.Domain
@using System.Windows.Threading;
@inject IMaoTai.Service.IAppointProjectService AppointProjectService

<PageTitle>预约商品管理</PageTitle>

@if (_productList == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <MCard>
        <MRow Align="@AlignTypes.Center"
              Justify="@JustifyTypes.Center">
            <MToolbar>
                <MButton Depressed Color="primary"
                         Dark
                         OnClick="GetProductListDataFromApi">
                    刷新商品
                </MButton>
            </MToolbar>
        </MRow>
    <MDataTable Headers="_headers" Items="_productList" ItemsPerPage="5">
        <ItemColContent>
            @if (context.Header.Value == nameof(ProductEntity.Img))
            {
                <img src="@context.Item.Img" width="80" height="80" />
            }
            else
            {
                @context.Value
            }
        </ItemColContent>
    </MDataTable>
    </MCard>
}

@code {
    private List<ProductEntity> _productList;

    private List<DataTableHeader<ProductEntity>> _headers = new()
    {
        new() { Text = "商品Code", Value = nameof(ProductEntity.Code) },
        new() { Text = "标题", Value = nameof(ProductEntity.Title) },
        new() { Text = "内容", Value = nameof(ProductEntity.Description),Ellipsis = new DataTableEllipsis() },
        new() { Text = "图片", Value = nameof(ProductEntity.Img) },
        new() { Text = "创建时间", Value = nameof(ProductEntity.Created)}
    };

    protected override async Task OnInitializedAsync()
    {
        _productList = AppointProjectViewModel.ProductList;
        await Task.CompletedTask;
    }

    private async Task GetProductListDataFromApi()
    {
        await AppointProjectService.RefreshProduct();
        _productList = AppointProjectViewModel.ProductList;
        StateHasChanged();
    }
}
