@page "/instructions/index"
@using Masa.Blazor
@using IMaoTai.MasaUI.Core
@inherits AuthComponentBase

<MToolbar>
    <label>点击新增用户</label>
</MToolbar>
<MImage AspectRatio="16/9d" Width="@("100%")" Height="200"
        Src="/img/tip01.png"></MImage>
<MToolbar>
    <label>新增用户</label>
</MToolbar>
<MImage AspectRatio="16/9d" Width="@("100%")" Height="300"
        Src="/img/tip02.png"></MImage>
<MToolbar>
    <label>编辑用户信息,补充剩余信息</label>
</MToolbar>
<MImage AspectRatio="16/9d" Width="@("100%")" Height="400"
        Src="/img/tip03.png"></MImage>

@code {

   

}

